body {
    background-color: #cccccc;
}

.bookHeadline {
    font-size: 12pt;
    font-weight: bold;
}

.bookDescription {
    font-size: 10pt;
}

label {
    font-weight: bold;
}

.errorPage {
    text-align: center;
}

.oops {
    font-size: 76pt;
}
