<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kittycoder.mapper.StudentMapper">

    <select id="selectStudentList" resultType="com.kittycoder.po.Student">
        select * from student
    </select>

    <insert id="insertStudent">
        insert into student(sid, sname, sage, sbirthday)
        values (#{sid}, #{sname}, #{sage}, #{sbirthday, jdbcType=DATE})
    </insert>

    <insert id="updateStudent">
        update student
        set sbirthday = #{sbirthday, jdbcType=DATE}
        where sid = #{sid}
    </insert>

    <delete id="deleteStudent">
        delete from student where sid = #{sid}
    </delete>
</mapper>
